*{
	font:1em Tahoma,Arial,sans-serif;
	margin: 0px;
	padding: 0px;
}
html {
	min-height: 100%;
	margin:0px;
	padding:0px;
	}

body {
	margin: 0px;
	padding: 0px;
	background-color: #eee;
	font: normal 92.5% Tahoma,Arial,sans-serif;
}


a:link {text-decoration:none; color: #04E;}
a:visited {color: #00b;}
a:hover {text-decoration:underline;}
a img { border: none; }

form {margin: 0px;}
pre	{font-family: monospace;}
p,code {padding-bottom: 0.2em; line-height: 1.5em; word-spacing: 0.3em;}
li {list-style: none;}
h1,h2,h3 {padding-top: 6px; color: #000;}
h1 {font: normal 1.3em Arial,sans-serif;}
h2 {font: bold 1.2em sans-serif;}
h3 {font: bold 1em Arial,sans-serif;}
td p{margin:1px;}
form,input {margin: 0; padding: 0; display: inline;}
blockquote {display: block;font-weight: normal;}
td.firstcol {font-weight:bold;text-align:center;}
.centered {text-align:center;}


/* misc */
.clearer {clear: both; font-size: 0;}

/* structure */
#inner-container {
	border: 2px solid #f3f3f3;
	background: #FFF;
	margin: 0 auto;
	padding: 10px;
	width: 80%;
}

#outer-container {
	padding-bottom: 14px;
	margin-top: 14px;
}

/* outer container for pinout pages */
#pageBox{
	background-color: #F0F0F0;
	margin:0px;
	padding:0px;
}

#pageBox #header h1 {text-align:center;}
#pageBox #header h2 {min-width: 190px; text-align:right;font-size: 0.6em;padding:1px;} /*small keywords in left up */
#pageBox #header {border:1px solid black;}




/* Create three unequal columns that floats next to each other */
.column {
  float: left;
}
.column img{
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}
.left, .right {
  width: 24%;
}
.left{
}
.right{
}

.middle {
  width: 50%;
  padding-left:6px;
  padding-right:6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




/* headere & title */
#header {
	background-color: #d0d0d0;
	min-height: 40px;
	border-top: 1px solid black;
	background: linear-gradient(to bottom, #d0d0d0 80%, #dadada 100%);
}

/* list page */
#inner-container #header{
	border-left: 1px solid black;
	border-right: 1px solid black;

}

#header a:hover {border-color: #F60;}
#header h1 {
	color: #000;
	font: normal 1.2em Arial, sans-serif;
	padding-bottom: 2px;
	margin-top:5px;
	text-decoration: none;
	font-weight: bold;
	text-align:center;
	}

#header img	{
float: left;
margin: 0px;
}

#top_links_ad{
padding:5px;
margin:0px;
}
/* path */
#path {
	background: #949490;
	color: #eee;
	font: normal 0.8em Verdana,sans-serif;
	padding: 2px 2px 2px 12px;
	height:2em;
	line-height:2em;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	clear:both;
}
#path a {
	color: #FAFAFA;
	text-decoration: none;
}
#path a:hover {
	color: #FFE;
	text-decoration: underline;
}

#path .search {
float:right;
margin-top:3px;
}

#page_path {
	background: #dadada;
	color: #4f66a9;
	font: normal 10pt Verdana,sans-serif;
	padding: 2px;
}
#page_path a {
	color: #4f66a9;
	text-decoration: none;
}

#page_path a:hover {
	color: #4f66a9;
	text-decoration: underline;
}

/* main */
#main {
	padding: 0;
	margin: 0;
	background-color: #fff;
}

#menubox a.menutoggle{
color: #0001CC;
background-color:#cccccc;
border-bottom: 1px solid black;
padding:0;
cursor: pointer; 
}

span.mainmenuheader{
/*white-space:nowrap;*/
word-spacing: -1.6px;
padding-left:5px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12pt;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: none;
vertical-align: middle;
}

/* connectors */

.connlist {
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 80px;
	border-bottom: 1px black dotted;
	vertical-align: middle;
	}
.connlist img {
	vertical-align: middle;
	}
.connlist a {
	text-decoration: none;
	}
.connlist span {
	min-width: 200px;
	display: inline-block;
	}

.imglink{
	display:block;
	text-align:center;
	margin-top:5px;
}
.connphoto {margin:15px;}


/* content */
#contentwrapper {
float: left;
width: 100%;
}

.text_header {
	padding-top: 5px;
	padding-bottom:10px;
	font-style: italic;
	clear:left;
}

.text_header p {
margin: 0px;
font-style: italic;
padding: 5px;
}

.text_header a {
font-style: inherit;
}
#contentBox {
background-color:#F0F0F0;
position:relative;
margin: 0px 200px 0px 200px;
padding: 0px;
}
#contentBox .ad {margin:5px;text-align:center;}


/* #content for data pages */
#content {
font: inherit;
padding: 10px;
text-align: justify;
}
#content p {line-height:150%; margin-bottom: 0.8em;}
#content a {font: inherit;}
#content h1,h2,h3,h4 {font-weight:bold;margin: 15px 2px 5px 2px;}
#content h1 {font-size: 1.2em;}
#content li {list-style:square; margin-left: 15px; padding: 5px;}
.content h1 {font-size: 2.2em;}
.list li {font-size: 1.1em;}
#content h2 {font-size: 1.3em;}
#content h3 {font-size: 1.2em;}
.separator a {font-size: 1.2em; font-weight: bold;}
#content table {border: 1px solid black; border-collapse: collapse;	margin-left:auto; 	margin-right:auto; 	min-width:70%; margin-top:10px; margin-bottom:10px; background-color: white;}
#content td {border: 2px solid #eee;	padding: 10px 5px 10px 5px;}
#content th {background-color: #f7f7f7;	border: 2px solid #eee;font-weight: bold; text-align: center; padding: 15px 5px 15px 5px;}
#content tbody{	font-size: 0.95em;}
#content_header {font-weight:bold;padding: 5px 5px;	}	
#content img {  
  display:block;
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}
.col1 .wide_ad{
	margin:auto;
}

/* .content for list pages */
.content {
margin-left: 220px;
	line-height: 1.4em;
}

.devlist li {
display:inline-block;min-width:250px;
	font-variant: small-caps;
	font-size: 1.5em;
	padding:20px;

}

.content li {
	list-style-image: url(/pictures/ball.gif);
	margin-left: 18px;
	min-height:60px;
}
.content .separator{
	background-color: #ddd;
	margin: 10px 0px;
	padding: 2px;
	text-decoration: none;
	text-align: center;
	font-size: 80%;
	color: #000;
}
.content .separator a{
	text-decoration: none;
	color: #000;
}
.content ul {
padding-top:2px;
#clear:both;
}

/* navigation */
#navigation {
	float: left;
	margin-left: -100%;
	width: 210px;
}

#navigation img {
	border:0px;
	vertical-align: middle;
}

/* footer */

#footer {
	background-color:#CED0EC;
	border-top:1px solid black;
	border-bottom:1px solid black;
	margin-top: 5px;
	padding: 5px 5px;
}
#footer div {
clear:both;
font-size:90%;
}


.float_right {
float:right;
}

.list{
list-style-image: url(/pictures/ball.gif);}
.list li{margin-bottom: 20px;}


.spectable {
border-collapse: collapse;
}

.spectable td{
    border-bottom: 1px black;
    padding: 10px;
}

.listlink{letter-spacing: 0.2pt;}
.listdesc{font:10pt Arial,sans-serif;}

#langswitch {
	font-size: 8pt !important;
	font-family: Verdana, Helvetica, sans-serif;
	margin: 2px;
	float:right;
}
#langswitch a{
	text-decoration:none ;
}


.menusmall {
margin: 0px;
margin-bottom: 1px;
margin-top: -1px;
padding: 0px;
color: #555555;
font-size: 7pt;
text-align:right;}

.conn_desc {
font-style:italic;
margin-bottom:10px;
}
.conn_desc a{
font-style:italic;
}

#menubox {
	background: #DDD;
	margin: 0;
	text-align: left;
	padding: 0;
	width: 210px;
	border: 1px solid #000;
	border-top: 0px;
}

.menu {
	background: #DDD;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.menu li {
	font-size: 10pt !important;
	font-family: Verdana, Helvetica, sans-serif;
	margin: 0;
	border-bottom: 1px solid #999999;
}

.menuactive{
	background-color: #EEE;
}

.menu a {
	font-size: 10pt !important;
	color: #00F;
	display: block;
	margin: 0;
	text-decoration: none;
	padding: 8px 0 8px 5%;
}


.menu a:hover {
	background: #2580a2 url("images/hover.gif") left center no-repeat !important;
	color: #fff !important;
	padding: 8px 0 8px 5%;
}

.menuheader {
	margin:0px;
}


#menubox2 {
	float:right;
	background: #EEE;
	margin: 0;
	text-align: left;
	padding: 0;
	width: 250px !important;
	border: 1px solid black;
	border-top:0px;
}

#menubox2 ul {
clear:none;
}

#menubox2 a {
	font-size: 8pt !important;
	color: #00F;
	margin: 0;
	text-decoration: none;
}
#menubox2 .title{
	font-size: 8pt !important;
	color: #000;
	font-weight: bold;
	padding: 5px;
	background: #d0d0d0;
	border-bottom: 1px dotted black;
}
#menubox2 li {
	font-size: 8pt !important;
	font-family: Verdana, Helvetica, sans-serif;
	margin: 0;
	background: #EEE;
	padding: 5px 5px;
	list-style-image:none;
	border-bottom: 1px solid #999;
	min-height:20px;
} 

#menubox2 .float_right {
width:50%;
border-left: 1px solid #999
}

#searchform {
	font-size: 8pt;
	font-family: monospace;
}
#searchform input{
	font-size: 8pt;
	margin: 0px;
	font-family: monospace;
}


#submenu {
	padding: 0px 5px 5px 0px;
}

#submenu a {
	color: #00F;
	text-align: right;
	display: block;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#submenu a:hover {
	background: #2580a2 url("images/hover.gif") left center no-repeat;
	color: #fff;
	padding:0;
	margin:0;
}

#bookmark	{
   width:100%;
   overflow:hidden;
   position:relative;
   background-color: #eee;
}
#bookmark ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#bookmark ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#bookmark ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   background:#e0e0e0;
   text-decoration:none;
   line-height:1.3em;
}

#bookmark ul li a:hover {
text-decoration:underline;
}
#bookmark ul li a.active,
#bookamrk ul li a.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
}

.right_box{
float: right;
margin:3px;
width:30%;
display:block;
}


.top_box	{
background-color:#eee;
margin:5px;
padding:0px;
border:1px dotted black;
flex:1;
}
.box_head{
	color:white;
	text-align:center;
	font-weight:bold;
	background-color:#333;
	padding:5px;
}
.top_box ul{
padding-left:3px;
padding-right:3px;
}
.top_box li{
list-style:none;
margin:0px;
padding-top:5px;
padding-bottom:5px;
border-bottom: 1px solid black;
min-height:0;
}
.top_box .last {
border-bottom: none;
}

.top_box a{
	display:block;
	font-size:0.8em;
}
.top_box a:hover{
	text-decoration:none;
	background-color:#ddd;
}

.togglebox	{
background-color:#CED0EC;
margin-top:30px;
padding:3px;
text-align:center;
width:100%;
margin-left:auto;
margin-right:auto;
border-top:2px dotted black;
border-bottom:1px dotted black;
background: linear-gradient(to right, #eeeeee 0%,#CED0EC 20%,#CED0EC 80%,#eeeeee 100%);
}

.togglebox a {letter-spacing:1px; display:block;}

.togglebox strong {font-weight:bold;}

.good{background-color:#00FF00; }
.good a {color:#000000; font-weight:800;}
.bad{background-color:red; }
.bad a {color:#000000; font-weight:800;}
.unknown a { font-weight:800;}

#rate a{
	display:block;
}
#rate a:hover{
	background-color:#fff;
	text-decoration:none;
}
#rate_good{
	float:left;
	background-color:#66ff66;
	text-align:left;
	padding:2px;
	width:50%;
}
#rate_bad{
	background-color:#ff6666;
	text-align:right;
	padding:2px;

}

#compatible{
	text-align: left !important;
	margin-top: 10px;
	margin-left: 10px;
	padding-bottom: 10px;
	padding-top: 0px;
	clear: both;
	display:block;
	animation-name: FadeIn;
	animation-duration: 2s;
}

#status{
	text-align: left !important;
	display:block;
}
#status img{
	margin:0;
	vertical-align:middle;
}

#compatible ul li{
    list-style: square inside;
    margin-bottom:8px;
    text-align: left;
}

.boxitems ul li{
    list-style: square inside;
    margin-bottom:8px;
    text-align: left;
}

#modelsbox .boxitems{
    background-color:white;
}

.togglebox .toggle{
color:blue;
cursor:pointer;
}

#related{
	text-align: left !important;
	margin-top: 10px;
	margin-left: 10px;
	padding-bottom: 10px;
	padding-top: 0px;
	clear: both;
	display:block;
}

#related ul li{
    list-style: square inside;
    text-align: left;
    margin-bottom:8px;
}

#ilinks{
	text-align: left !important;
	margin-top: 10px;
	padding-bottom: 10px;
	padding-top: 0px;
	clear: both;
	display:block;
}

#ilinks ul li{
    list-style: square inside;
    text-align: left;
    margin-bottom:8px;
}

#slinks{
	text-align: left !important;
	margin-top: 10px;
	margin-left: 10px;
	padding-bottom: 10px;
	padding-top: 0px;
	clear: both;
	display:block;
}

#slinks ul li{
    list-style: square inside;
    text-align: left;
    margin-bottom:8px;
}


#rightCol #comments{
	text-align: left !important;
	margin-top: 10px;
	margin-left: 10px;
	padding-bottom: 10px;
	padding-top: 0px;
	clear: both;
	display:block;
}

#rightCol #comments ul li{
	text-align: left;
	margin:5px;
	border-bottom: 1px gray dotted;
}




#rightCol {
float:right;
position:relative;
display:inline;
text-align: center;
margin-right:-190px;
width:190px;
}

#leftCol	{
float:left;
position:relative;
display:inline;
width: 200px;
text-align: center;
margin-left:-190px;
}

#leftCol .ad {
margin-left:auto;
margin-right:5px;
float:right;
padding: 5px 5px;
clear:both;
}
#leftCol div{
	margin-left:auto;
	margin-right:auto;
	max-width:180px;
	text-align:center;
	word-wrap: break-word;

}
#leftCol img{
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}

#leftCol img:hover{
-webkit-transform:scale(1.6); /*Webkit: Scale up image to 1.2x original size*/
-moz-transform:scale(1.6); /*Mozilla scale version*/
-o-transform:scale(1.6); /*Opera scale version*/
box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
-webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
-moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
transform-origin:0 0;
}

#rightCol div{
	margin-left:auto;
	margin-right:auto;
	max-width:180px;
	text-align:center;
	word-wrap: break-word;
	font-size:0.8em;
}





#report_box	{
background-color:#CED0EC;
padding:10px;
text-align:center;
width:80%;
margin-left:auto;
margin-right:auto;
border-top:1px dotted black;
border-bottom:1px dotted black;
font-size:0.85em;
}

#report_wrapper {
}

#report_box img{
vertical-align: middle;
}

#report_status_unknown	{
background-color:#FFFF00;
padding:5px;
text-align:center;
}
#report_status_good	{
background-color:#00FF00;
padding:5px;
text-align:center;
}

#report_status_bad	{
background-color:#FF0000;
padding:5px;
text-align:center;
}


.center_ad {
clear:both;
text-align:center;
margin-top: 5px;
}

#footnotes {
text-align:right;
font-size:80%;
}

#mainmenu1{
padding:5px;
}

.listconn {
float:right;
margin-left:4px;
margin-right:4px;
margin-bottom:2px;
height:60px;
clear:both;
max-width:80%;
overflow:hidden;
}

.listconn img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}

.wide_ad { height: 90px ; margin-bottom: 10px; margin-top:10px;}

.col1 .wide_ad { width:500px; height:60px; margin-bottom: 5px; margin-top:5px;}
.narrow_ad { width:170px; }
#header h2 {font-size:0.8em;}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.highlight{
-webkit-transition: background-color 1s;
transition: background-color 1s;
background-color:white;
}

@media (max-width: 1200px){
#menubox2 {display:none;}
}

@media (max-width: 1100px){
.listconn a:nth-child(4) {display:none;}
.listconn a:nth-child(5) {display:none;}
}

@media (max-width: 900px){
#navigation {width:110px;}
.content {margin-left: 120px;}
.mainmenuheader{white-space:normal !important; font-size:10pt !important;}
#inner-container {width:100%;}
#menubox {width:110px; !important}
#contentBox{margin-left: 160px;}
h1 {font-size:60%;}
.wide_ad { width: 320px; height: 100px; }
#header h2 {font-size:0.7em;}
}


@media (max-width: 850px){
h1 {font-size:50%;}
#navigation {width:110px;}
#menubox2 {display:none;}
#langswitch {display:none;}
.right_box {display:none;}
#bookmark {display:none;}
#contentBox{margin-right: 5px;}
.search {display: none;}
.listconn a:nth-child(2) {display:none;}
.listconn a:nth-child(3) {display:none;}
.listconn a:nth-child(4) {display:none;}
.listconn a:nth-child(5) {display:none;}
}


@media (max-width: 700px){
#contentBox{margin-right: 5px;}
.column{float:none;}
.left{float:none; width:100%;}
.middle{width:100%;}
.right{float:none; width:100%;}
#visual {display:none;}
.page_right_ad{max-height:60px;}
.compatlink{display:none;}
}



