
/* Body and text */
@font-face{
    font-family: fntStdWaveguide;
/*    src: url(/font/Share-Regular.otf); */
    src: url(/font/DroidSans.ttf);
}
@font-face{
    font-family: fntMonoWaveguide;
/*    src: url(/font/SourceCodePro-Semibold.otf); */
    src: url(/font/DroidSansMono.ttf);
}
@font-face{
    font-family: fntHeaderWaveguide;
/*    src: url(/font/Rationale-Regular.otf); */
    src: url(/font/DroidSans.ttf);
}
body{
    font-size: 12px;
    font-family: fntStdWaveguide, "DejaVu Sans", Verdana, Helvetica, sans-serif;
    background: #fff;
    color: #000;
    text-align: center;
}
pre{
    font-size: 12px;
    font-family: fntMonoWaveguide;
}
h1,h2,h3{
    color: #208020;
    margin: 0px;
    margin-bottom: 5px;
    border: 0px;
    font-family: fntHeaderWaveguide, "DejaVu Sans", Verdana, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
/*    text-shadow: 1px 1px 1px #bbb;*/
}
h1{
    font-size: 24px;
}
h2{
    font-size: 16px;
    color: #000;
}
h3{
    font-size: 14px;
}
a:link{
    color: #000;
    /* text-decoration: none; */
}
a:visited{
    color: #000;
    /* text-decoration: none; */
}
a.noline{
    text-decoration: none;
}
img{
    border: 0px;
}

ul{
    list-style-type: disc;
    padding-left: 15px;
    margin-left: 0px;
}
li{
    margin-bottom: 4px;
}

/* DIV boxes */
div{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* page layout */

div#main{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
    text-align: left;
}

/* header and top */

div#header{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 64px;
    background-image: url(images/header_bg.png);

    -moz-box-shadow: 0px 0px 4px #ddd;
    -webkit-box-shadow: 0px 0px 4px #ddd;
    box-shadow: 0px 0px 10px #ddd;

    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    border-top-left-radius: 15px;
}

div#header-logo{
    display: inline-block;
    font-family: fntHeaderWaveguide, "DejaVu Sans", Verdana, Helvetica, sans-serif;
    font-size: 24px;
    color: #fff;
    text-align: center;
    background: #444;
    opacity: 0.7;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
}

div#top-menu{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 32px;
    font-size: 12px;

    -moz-box-shadow: 0px 0px 4px #ddd;
    -webkit-box-shadow: 0px 0px 4px #ddd;
    box-shadow: 0px 0px 10px #ddd;
}

/* content */

div#content{
    float: left;
    width: 690px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: auto;
    min-height: 900px;
    padding: 0px;
    padding-right: 0px;
/*    border-left: 2px solid #ddd;*/
}

div#content-right-wrap{
    float: right;
    width: 195px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
}

div.content-right-object{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px;
    background: #effaff;

/*    border: 1px solid #ddd;*/
/*    -moz-box-shadow: 0px 0px 4px #ddd;
    -webkit-box-shadow: 0px 0px 4px #ddd;
    box-shadow: 0px 0px 10px #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; */
}

div.dashed-bottom{
    margin-top: 4px;
    margin-bottom: 4px;
    padding-bottom: 2px;
    border-bottom: 1px dashed #bbb;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}
div.dashed-bottom:hover{
    background: #dfeaef;
}

/* footer */
div#footer{
    clear: both;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: #bbb;
    border-top: 1px solid #bbb;
}


/* Forms */

.input-text{
    color: #000;
    background: #fff;
    font-size: 10px;
    font-family: Verdana, helvetica, sans-serif;
    border: 1px solid #ddd;
}
.input-submit{
    color: #000;
    background: #eee;
    border: 1px solid #ddd;
}
